<!DOCTYPE html>
<html lang="en">

<head>
  <title>VueJS2 sample</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
</head>

<body>

  <h1 class="ui center aligned header">hello vuejs</h1>

  <div id="app">

    <div class="ui container three item menu">
      <a class="item"
        v-bind:class="{ active: viewMode === 'cards' }"
        v-on:click="changeViewMode('cards')">cards</a>
      <a class="item"
        v-bind:class="{ active: viewMode === 'list' }"
        v-on:click="changeViewMode('list')">list</a>
      <a class="item"
        v-bind:class="{ active: viewMode === 'map' }"
        v-on:click="changeViewMode('map')">map</a>
    </div>

    <div class="ui container center">
      <filter-button
        v-if="properties"
        v-for="filterdata in availableFilters"
        v-bind:filterdata="filterdata"
        v-on:filterpropertiesby="addnewfilter(filterdata)"
      ></filter-button>

      <sorter-dropdown
        v-if="viewMode !== 'map'"
        v-on:sortproperties="sortproperties"
      ></sorter-dropdown>
    </div>

    <br>

    <div class="container">
      <div class="ui divided items" v-if="viewMode === 'list'">
        <property-list-item
          v-for="property in showedProperties(properties)"
          v-bind:property="property"
        ></property-list-item>
      </div>

      <div class="ui cards three column doubling grid" v-if="viewMode === 'cards'">
        <property-card-item
          v-for="property in showedProperties(properties)"
          v-bind:property="property"
        ></property-card-item>
      </div>

    </div>
  </div>

  <script src="app.js"></script>
</body>

</html>
